/* From Uiverse.io by Maximinodotpy */

.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  width: 100%;
  position: relative;

}

.inputGroup input {
  font-size: 100%;
  padding: 1em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.inputGroup label {
  font-size: 16px;
  position: absolute;
  left: 0;
  padding: 1em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0;
  margin-left: 1.3em;
  padding: 0.4em 0.6em;
  background-color: #f4f4f5;
  border-radius: 10px;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(139, 92, 246); /* violet */
}
