/* From Uiverse.io by Amanfrom2005 */
.button-container {
    cursor: pointer;
    background-color: #F59E0B;
    border: none;
    padding: 13px 30px 13px;
    clip-path: polygon(
      0% 0%,
      64% 0%,
      64% 10%,
      70% 10%,
      75% 1%,
      100% 0%,
      100% 80%,
      95% 100%,
      42% 100%,
      42% 90%,
      34% 90%,
      34% 100%,
      5% 100%,
      0% 80%
    );
    transition: all 0.3s ease-in-out;
  }
  .button-container:hover {
    background-color: #D97706;
  }
  .b-m-container {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-mask-image: linear-gradient(
      -75deg,
      rgb(0 0 0) 30%,
      #000 50%,
      rgba(0, 0, 0, 0.2) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    transition: 0.35s;
  }
  @keyframes shine {
    0% {
      -webkit-mask-position: 160%;
    }
    100% {
      -webkit-mask-position: -50%;
    }
  }
  .b-m-text {
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    margin-right: 10px;
    font-family: "Franklin Gothic Medium", sans-serif;
  }
  .b-m-icon {
    width: 14px;
    height: 14px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .b-m-icon svg {
    fill: #fff;
  }
  